<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>


    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <style>
      #mc_wrapper {
        background-color: #eee;
      }

      #mc_embed_signup {
        margin: 0 auto;
        padding: 1em;
      }

      #mc_embed_signup form {
        xtext-align: center;
      }

      #mc_embed_signup input {
        width: 30em;
        max-width: 100%;
        box-sizing: border-box;
      }
    </style>
    <div id="mc_wrapper">
      <div id="mc_embed_signup" class="wrapper">
        <p><b>Like what you're reading?</b></p>
        <p>Sign up to hear about my newest posts.</p>
        <form action="https://code402.us20.list-manage.com/subscribe/post?u=143ac0257c595ff8abfa6493b&amp;id=ee7c2005f8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
          <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required="" aria-required="true">
            <input type="text" value="cldellow" name="SOURCE" class="text" id="mce-SOURCE" placeholder="source" hidden="">
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_143ac0257c595ff8abfa6493b_ee7c2005f8" tabindex="-1" value=""></div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        </form>
      </div>
    </div>

    {% include footer.html %}

    {% include analytics.html %}
  </body>

</html>
