<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>


    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <style>
      #mc_wrapper {
        background-color: #eee;
      }

      #mc_embed_signup {
        margin: 0 auto;
        padding: 1em;
      }

      #mc_embed_signup form {
        xtext-align: center;
      }

      #mc_embed_signup input {
        width: 30em;
        max-width: 100%;
        box-sizing: border-box;
      }
    </style>
    <div style='display:none;'>
      <a rel="me" href="https://hachyderm.io/@cldellow">Mastodon</a>
    </div>
    {% include footer.html %}

    {% include analytics.html %}
  </body>

</html>
