---
layout: default
---

<div class="home">

<!-- Begin Mailchimp Signup Form -->
<style type="text/css">
#mc_embed_signup{
}

#mc_embed_signup input {
  font-size: 1.2em;
  padding: 3px;
}

#mc_embed_signup input[type=email] {
  border: 2px solid #ccc;;
}

#mc_embed_signup input[type=submit] {
  border: 2px solid #1756a9;
  background-color: #fff;
  color: #1756a9;
  text-shadow: none;
  cursor: pointer;
}

#mc_embed_signup input[type=submit]:hover {
  border: 2px solid #1756a9;
  color: #fff;
  background-color: #1756a9;
  text-shadow: none;
  cursor: pointer;
}

</style>
<div id="mc_embed_signup">
  <form action="https://cldellow.us19.list-manage.com/subscribe/post?u=1ff481b8ee455e9476499c483&amp;id=0fa22900fe&amp;SOURCE=cldellow_com" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <h1 class="page-heading">Subscribe</h1>

  Be the first to be notified when I post new content! Once every couple of months, you can expect a post about front-end development, big data, or product design explorations.
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1ff481b8ee455e9476499c483_0fa22900fe" tabindex="-1" value=""></div>
    <div style='text-align: center; margin: 5px;'>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
  </form>
</div>

<!--End mc_embed_signup-->



  <h1 class="page-heading">Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
